div.container
    div.row
        h1.col-md-12.text-center Добро пожаловать в Beeline Docus!
        h3.col-md-12.text-center Введите адрес вашей почты, чтобы начать!
    div.row
        form(role="form" ng-submit="main.submit()")
            div.col-md-8.col-md-offset-2
                div.input-group.input-group-lg(ng-class="{'error': main.formMessage.status == 'error'}")
                    span.input-group-addon @
                    input.form-control(type="text", name="userEmail", id="userEmail", ng-model="main.userEmailMod", placeholder="Не указан")
                    div.error(ng-if="main.formMessage.message") {{main.formMessage.message}}
                div.more На указанную вами почту будут отправляться результаты анализа.
            div.col-md-12.text-right
                button.btn.btn-default.btn-lg(type="submit") Далее