/**
 *  If you want to override some bootstrap variables, you have to change values here.
 *  The list of variables are listed here bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss
 */
$error: #e8513e;
$blue: #009af1;
$gray: #6e7590;
$green: #1dc672;
$yellow: #ffc200;
$icon-path: "../assets/images/";

/**
 *  Do not remove the comments below. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower

h1 {
  color: $blue;
  font-weight: bold;
  margin: 50px 0 20px;
}
h3 {
  color: $gray;
  margin: 20px 0 50px;
}
h4 {
  color: $gray;
  margin: 20px 0;
  font-style: italic;
}

.form-control {
  border-color: $blue;
  border-width: 2px;
  &.error {
    border-color: red;
  }
}
.more {
  color: $gray;
  font-style: italic;
  margin-top: 10px;
}
.btn {
  margin-top: 50px;
  &.btn-lg {
    padding: 10px 30px;
  }
  &.btn-default {
    border: 2px solid $blue;
    color: $blue;
    &:hover {
      background: $blue;
      color: white;
    }
  }
}
.input-group {
  .input-group-addon {
    border-color: $blue;
    background: $blue;
    color: white;
    font-weight: bold;
  }
  &.error {
    .input-group-addon {
      border-color: $error;
    }
    input {
      border-color: $error;
    }
  }
  .error {
    position: absolute;
    right: 0;
    top: -35px;
    background: $error;
    color: white;
    padding: 2px 7px;
    border-radius: 4px;
    &:before {
      content: "";
      position: absolute;
      right: 20px;
      bottom: -20px;
      border: 10px solid;
      border-color: $error transparent transparent transparent;
    }
  }
}
ul.fileIcons {
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline-block;

  li.item {
    float: left;
    margin: 0 10px;

    img {
      width: 50px;
      transform: rotate(30deg);
    }
  }
}
.uploadFile {
  margin-top: 50px;
  border: 1px dashed $blue;
  padding: 15px 30px;
  text-align: center;
  position: relative;
  cursor: pointer;
  input[type="file"] {
    border: none;
    font-size: 0;
    background: transparent;
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
  }
  p {
    margin: 10px 0;
    display: inline-block;
    color: $gray;
    padding-left: 40px;
    position: relative;
    &:before {
      content: "";
      width: 30px;
      height: 26px;
      position: absolute;
      top: -3px;
      left: 0;
      background: url(#{$icon-path}/cloud-100.png) no-repeat center center;
      background-size: 100%;
    }
    span {
      color: $blue;
    }
  }
}
.fileList {
  list-style: none;
  margin: 30px 0 0 0;
  padding: 0;
  .item {
    display: inline-block;
    /*width: 50%;*/
    position: relative;
    margin-bottom: 15px;
    &:before {
      content: "";
      position: absolute;
      top: -1px;
      left: 15px;
      width: 22px;
      height: 22px;
      background: url(#{$icon-path}/file.png) no-repeat center center;
      background-size: 100%;
    }
    .name {
      float: left;
      width: 85%;
      margin-bottom: 7px;
      padding-left: 30px;
      overflow: hidden;
    }
    .size {
      float: right;
      width: 15%;
      text-align: right;
    }
    .status {
      position: relative;
      height: 4px;
      width: 90%;
      background: #cccccc;
      float: left;
      clear: both;
      .inner {
        background: #009af1;
        height: 4px;
      }
    }
    .remove {
      float: right;
      width: 14px;
      height: 14px;
      border: none;
      margin-top: -5px;
      background: url(#{$icon-path}/delete.png) no-repeat center center;
      background-size: 120%;
    }
    .error {
      margin-top: 5px;
    }
    &.success {
      .status {
        .inner {
          background: $green;
        }
      }
      &:before {
        background: url(#{$icon-path}/file-success.png) no-repeat center center;
        background-size: 100%;
      }
    }
    &.error {
      margin-top: 0;
      .status {
        .inner {
          background: $error;
        }
      }
      &:before {
        background: url(#{$icon-path}/file.png) no-repeat center center;
        background-size: 100%;
      }
    }
  }
}
.uploadPage {
  .error {
    display: inline-block;
    color: $error;
    margin-top: 63px;
    margin-right: 20px;
  }
  .btn {
    float: right;
  }
}


.result {
  h3 {
    margin-bottom: 40px;
  }

  .newUpload {
    margin-bottom: 20px;
  }

  .load {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 300px;
    transform: translate(-50%,-50%);
    h3 {
      margin-bottom: 0;
    }
    .more {
      font-style: normal;
      margin-bottom: 30px;
    }
    .cancel {
      position: absolute;
      bottom: 0;
      right: 0;
      color: #6e7590;
      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }
    }
  }

  .resultBlock {
    border: 1px solid;
    padding-left: 130px;
    padding-top: 3px;
    min-height: 110px;
    position: relative;
    overflow: hidden;
    margin-bottom: 70px;
    border-radius: 5px;
    &:before {
      content: "";
      width: 110px;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }
    .message {
      font-size: 25px;
      line-height: 30px;
      font-weight: bold;
    }
    .more {
      margin: 5px 0 0;
      font-style: normal;
    }

    &.success {
      border-color: $green;
      &:before {
        background: url(#{$icon-path}/success.svg) no-repeat center center $green;
      }
      .message {
        color: $green;
      }
    }
    &.error {
      border-color: $error;
      &:before {
        background: url(#{$icon-path}/error.svg) no-repeat center center $error;
      }
      .message {
        color: $error;
      }
    }
    &.weit {
      border-color: $yellow;
      &:before {
        background: url(#{$icon-path}/weit.svg) no-repeat center center $yellow;
      }
      .message {
        color: $yellow;
      }
    }
  }
}

/**
 *  Do not remove the comments below. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
