div.container.uploadPage
    div.row
        h1.col-md-12.text-center Загрузите файл для проверки!
        h4.col-md-12.text-center Поддерживаемые форматы: JPEG, PDF, TIFF!
        div.col-md-12.text-center
            ul.fileIcons
                li.item
                    img(src="assets/images/doc-6.png")
                li.item
                    img(src="assets/images/doc-5.png")
                li.item
                    img(src="assets/images/doc-4.png")
    div.row
        form(role="form", ng-submit="upload.submit()")
            div.col-md-12
                div.uploadFile(ngf-drop, ngf-select, ng-model="files", ngf-drag-over-class="'dragover'", ngf-multiple="true", ngf-allow-dir="true", accept="image/*,application/pdf", ngf-pattern="'image/*,application/pdf'")
                    p Перетащите файл сюда, либо #[span выберите] файл для загрузки вручную.
                    //input(type="file", multiple, name="files", id="files")
            div.col-md-12
                ul.fileList.row(ng-if="upload.fileList")
                    li.col-md-6.col-xs-12.item.success(ng-repeat="fileItem in upload.fileList", ng-class="{'success': fileItem.progressPercentage == 100, 'error': !fileItem.progressPercentage}", data-id="{{fileItem.elmId}}")
                        div.name {{fileItem.name}}
                        div.size {{fileItem.fileSize}}
                        div.status
                            div.inner(style="width:{{fileItem.progressPercentage}}%")
                        button.remove(type="reset", ng-click="upload.abort(fileItem.elmId)")
                        div.error(ng-if="fileItem.error") {{fileItem.error.message}}
            div.col-md-12.text-right
                span.error(ng-if="upload.error") Вы не загрузили файл :(
                button.btn.btn-default.btn-lg(type="submit") Проверить