div.container.result

    div.row
        div.col-md-8.col-xs-12.load.text-center(ng-if="!result.finish")
            h3 Пожалуйста подождите, мы проверяем файл...
            div.more Это не займет много времени!
            div.loadIco
                img(src="../assets/images/loader.gif")
            a.cancel(ui-sref="upload" ng-click="cancelResult()") Отменить

    ul.filesResult(ng-if="result.finish")

        div.row(ng-repeat="image in result.images")
            h3.col-md-8.col-md-offset-2.text-center Результаты проверки файла "{{image.name}}"
            div.col-md-8.col-md-offset-2.resultBlock(ng-class="{success: image.answer == 'GREEN', error: image.answer == 'RED', weit: image.answer == 'YELLOW'}")
                div.message {{image.massage}}
                div.more(ng-bind-html="image.massageMore")

        //div.row
            h3.col-md-8.col-md-offset-2.text-center Результаты проверки файла "pass-2.jpeg"
        //div.row
            div.col-md-8.col-md-offset-2.resultBlock.error
                div.message Файл не является оригиналом!
                div.more Обнаружены следы использования графичесской программы Adobe Photoshop, в результате чего файл попадает в сектор потенциально высокого риска мошенничества.

        //div.row
            h3.col-md-8.col-md-offset-2.text-center Результаты проверки файла "pass-3.jpeg"
        //div.row
            div.col-md-8.col-md-offset-2.resultBlock.weit
                div.message Требуется дополнительная проверка!
                div.more
                    | Ответ придет на указанную вами почту в течении 15 минут.
                    br
                    | Спасибо за ожидание!

    div.row(ng-if="result.finish")
        div.col-md-8.col-md-offset-2.text-center
            a.btn.btn-default.btn-lg.newUpload(ui-sref="upload") Проверить другой файл